.sub-menu {
    min-height: 100%;
    background-color: var(--gray-50);
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-grow: 1;
}

.sub-menu-container {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.sub-menu-container-divider {
    margin-bottom: 16px;
}

.sub-menu-container-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-auto-rows: min-content;
}

.sub-menu-container-grid-item {
    height: 128px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sub-menu-container-grid-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.sub-menu-container-grid-item-icon {
    margin-top: 16px;
    color: var(--orange-500);
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.sub-menu-container-grid-item-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
}

// XSmall
@media only screen and (min-width: 0px) and (max-width: 599px) {
    .sub-menu-container-grid {
        grid-template-columns: 1fr;
    }
}

// Small
@media only screen and (min-width: 600px) and (max-width: 959px) {
    .sub-menu-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

// Medium
@media only screen and (min-width: 960px) and (max-width: 1439px) {
    .sub-menu-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Large
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .sub-menu-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

// XLarge
@media only screen and (min-width: 1920px) {
    .sub-menu-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
